autogluon==0.5.2
autogluon.mxnet # conflicts with autogluon 0.5.2
beautifulsoup4==4.11.1
Flask==2.2.2
keras==2.10.0
numpy==1.21.6
pandas==1.4.4
scikit_learn # < 0.25, just let autogluon install the version it needs.
tensorflow==2.10.0
jupyterlab